UserInterface/UI/UI_Labs/UI_Labs_04/xml/contacts 2.dtd

<!-- declare the root element contacts -->
<!ELEMENT contacts (sales, customerservices) >
<!ELEMENT sales (lastname, firstname, phone, fax?, email) >
<!ELEMENT customerservices (lastname, firstname, phone, fax?,email) >
<!ELEMENT lastname (#PCDATA) >
<!ELEMENT firstname (#PCDATA) >
<!ELEMENT phone (#PCDATA) >
<!ELEMENT email (#PCDATA) >
<!ELEMENT fax (#PCDATA) >
